@tailwind base;
@tailwind components;
@tailwind utilities;





/* Tailwind CSS classes */
@layer components {
  thead td {
    @apply text-white;
  }

  table tr {
    @apply h-14
  }

  tr:first-child {
    @apply relative left-6
  }

  tbody td {
    @apply text-white font-bold;
  }
}


body {
  background: #141625;
  font-size: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.mycontainer {
  max-width: 55rem;
  margin-inline: auto;
  padding: 10px;
  margin-top: 2rem;
}

/* typography */
h1 {
  font-size: 1.5rem;

}

h2 {
  font-size: 1.25rem;

}

h3 {
  font-size: 1rem;
}


p {
  color: white;
  font-size: 0.85rem;
  letter-spacing: -.25px;
}

h1,
h2,
h3 {
  color: white;
  font-weight: bold;
}

/*NAVBAR  */
img {
  cursor: pointer;
}

.nav__logo-wrapper {
  border-radius: 0 20px 20px 0;
  position: relative;
  overflow: hidden;
}



.nav__logo-wrapper::after {
  content: "";
  width: 100%;
  height: 3rem;
  position: absolute;
  background-color: #9277ff;
  border-radius: 20px 0 20px;
  top: 50%;

  -webkit-transition: .3s ease;
  transition: .6s ease;
}


.nav__logo-wrapper img {
  z-index: 88889999;
}

.nav__logo-wrapper:hover::after {
  top: 20%;
  height: 5rem;
  background-color: #9277ff;
}