@tailwind base;
@tailwind components;
@tailwind utilities;





/* Tailwind CSS classes */
@layer components {
  thead td {
    @apply text-white;
  }

  table tr {
    @apply h-14
  }

  tr:first-child {
    /* @apply relative left-6 */
  }

  tbody td {
    @apply text-white font-bold;
  }
}


body {
  background: #141625;
  font-size: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.mycontainer {
  max-width: 55rem;
  margin-inline: auto;
  padding: 10px;
  margin-top: 2rem;
}

/* typography */
h1 {
  font-size: 1.5rem;

}

h2 {
  font-size: 1.25rem;

}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.9rem;
}


p {
  color: white;
  font-size: 0.85rem;
  letter-spacing: -.25px;
}

h1,
h2,
h3,
h4 {
  color: white;
  font-weight: bold;
}

/*NAVBAR  */
img {
  cursor: pointer;
}

.nav__logo-wrapper {
  border-radius: 0 20px 20px 0;
  position: relative;
  overflow: hidden;
}



.nav__logo-wrapper::after {
  content: "";
  width: 100%;
  height: 3rem;
  position: absolute;
  background-color: #9277ff;
  border-radius: 20px 0 20px;
  top: 50%;

  -webkit-transition: .3s ease;
  transition: .6s ease;
}


.nav__logo-wrapper img {
  z-index: 88889999;
}

.nav__logo-wrapper:hover::after {
  top: 20%;
  height: 5rem;
  background-color: #9277ff;
}




/* form styling */
.form-inputField label {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: white;
  display: block;
}

.form-inputField input {
  color: #fff;
  background-color: #1e2139;
  border: 1px solid #252945;
  width: 100%;
  height: 3rem;
  padding: 0 1.125rem;
  border-radius: 0.25rem;
  outline: none;
  font-size: .75rem;
  line-height: .9375rem;
  letter-spacing: -.25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.form-inputField input:focus {

  border: 1px solid #dfe3fa;
}


form {
  /* overflow: scroll; */
}

.custom-calendar {
  background-color: #1e2139;
  box-shadow: 0 10px 20px rgba(72, 84, 159, .25);
  color: white;
  border-radius: 10px !important;
  font-weight: 600;
}

.react-calendar__month-view__days__day--weekend {
  color: white !important;
  font-weight: bold;
}

.react-calendar__navigation__label:hover {
  background-color: transparent !important;
  color: #7c5dfa !important;

}

.react-calendar__navigation__label:hover,
.react-calendar__navigation__arrow:hover {
  background-color: transparent !important;
  color: #7c5dfa !important;

}

.react-calendar__navigation__arrow {
  background-color: transparent !important;
}

.react-calendar__tile:hover {
  background-color: transparent !important;
  color: #7c5dfa !important;
}